@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('./Pacifico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('./Lobster-Regular.ttf') format('truetype');
    font-weight: 400;
}

.hello {
    color: red;
    /* background: url('./logo.jpg'); */
    font-family: 'Lobster';
}

.title {
    font-family: 'Pacifico';
}

.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

.range-slider {
    margin: 60px 0 0 0%;
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (60px + 13px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;  
    /* Range Handle */
    &::-webkit-slider-thumb {
        appearance: none;
        width: $range-handle-size;
        height: $range-handle-size;
        border-radius: 50%;
        background: $range-handle-color;
        cursor: pointer;
        transition: background .15s ease-in-out;
        &:hover {
            background: $range-handle-color-hover;
        }
    }
    &:active::-webkit-slider-thumb {
        background: $range-handle-color-hover;
    }
    &::-moz-range-thumb {
        width: $range-handle-size;
        height: $range-handle-size;
        border: 0;
        border-radius: 50%;
        background: $range-handle-color;
        cursor: pointer;
        transition: background .15s ease-in-out;
        &:hover {
            background: $range-handle-color-hover;
        }
    }
    &:active::-moz-range-thumb {
        background: $range-handle-color-hover;
    } // Focus state
    &:focus {
        &::-webkit-slider-thumb {
            box-shadow: 0 0 0 3px $shade-0, 0 0 0 6px $teal;
        }
    }
}

/* .flex-right {
     display: flex;
    justify-content: flex-end; 
} */

.nav-el {
    margin: 4px;
}

#pixel-picker {
    touch-action: none;
}